.about-us-team{
    background-image: url(../images/about-us/about-us.jpg);
    background-repeat: no-repeat;
    height: 438px;
    width: 100%;
    position: relative;
}

.about-us-heading{
    font-size: 9.6rem;
    line-height: 1.18;
    text-transform: uppercase;
    letter-spacing: 63px;
    color: white;
    position: absolute;
    top: 160px;
    right: 268px;
    font-weight: bold;

}