.cases {
    margin-bottom: 30px;
}
.cases__list{
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, auto);
        @include media-phone{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: unset;
            }
}

.cases__list-item{
    background-color: var(--color-grey-bg);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
}

.cases__list-item-heading{
    margin-bottom: 20px;
}

.cases__list-item:nth-child(1){
    grid-column: 1/3;
    grid-row: 1/2;
    @include media-phone{
        grid-column: unset;
        grid-row: unset;
            }
}

.cases__list-item:nth-child(2) {
    grid-column: 1/3;
    grid-row: 2/3;
    @include media-phone{
        grid-column: unset;
        grid-row: unset;
            }
}
  
.cases__list-item:nth-child(3) {
    grid-column: 3/5;
    grid-row: 1/3;
    @include media-phone{
        grid-column: unset;
        grid-row: unset;
            }
        }
  
.cases__list-item:nth-child(4) {
    grid-column: 5/6;
    grid-row: 1/3;
    @include media-phone{
        grid-column: unset;
        grid-row: unset;
            }
      }
  
.cases__list-item:nth-child(5) {
    grid-column: 1/2;
    grid-row: 3/4;
    @include media-phone{
        grid-column: unset;
        grid-row: unset;
            }
      }
  
.cases__list-item:nth-child(6) {
    grid-column: 2/4;
    grid-row: 3/4;
    @include media-phone{
        grid-column: unset;
        grid-row: unset;
            }
  }
  
.cases__list-item:nth-child(7) {
    grid-column: 4/6;
    grid-row: 3/4;
    @include media-phone{
        grid-column: unset;
        grid-row: unset;
            }
   }

  .cases__list-item--accent{
      color: var(--color-accent);
  }

  .cases__list-item-heading{
      @include  text-subheader;
      color: var(--color-main-soft);
      @include media-phone{
          @include text-extra-small-accent;
      }
  }

  .cases__list-item-company{
      @include text-small;
      color: var(--color-grey-text);
      @include media-phone{
          @include text-small;
      }
  }

  
  