.footer{
    padding: 30px 40px;
}

.footer__adress{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 22px;
    align-items: center;

}

.footer-contaier{
    display: flex;
    justify-content: space-between;
}

.contacts{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 17px;
     
}

.comany-adress{
    font-size: 1.6rem;
    line-height: 1.13;
    color: var(--color-main);
}

.company-adress-on-map{
    font-size: 1.2rem;
    line-height: 1.17;
    color: var(--color-regular);
    text-transform: lowercase;
}

.contacts__phone{
    font-size: 1.6rem;
    line-height: 1.13;
    color: var(--color-main);
}

.contacts__mail{
    font-size: 1.2rem;
    line-height: 1.17;
    color: var(--color-regular);
}

.copyright{
    font-size: 1.6rem;
    line-height: 1.13;
    color: var(--color-grey-text);
}