.hero{
    min-height: 100vh;
    background-image: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }

.header__container{
    display: flex;
    justify-content: space-between;
    @include media-phone{
        display: block;
    }
        }

    
.header{
    padding-top: 50px;
    color: white;
}

.hero__logo-wraper{
    @include media-phone{
        text-align: center;
        padding-bottom: 10px;
    }
}

.header__contact-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navigation{

    @include text-small;
    
}

.header__nav-item{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}


.hero-content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.hero-content__section{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 152px;
    background-image: url(../../images/main/symbol-long-leg.svg), url(../../images/main/hero-frame.svg);
    background-repeat: no-repeat;
    background-position: center;

    @include media-phone{
        background-image: url(../../images/main/symbol-long-leg.svg);

    }
}

.hero-content__button{
    width: 42px;
    background-color: transparent;
}

.lang{
    display: flex;
}

.lang__input{
    -webkit-appearance: none;
    position: absolute;
&:checked ~ .lang__txt{
    background-color: var(--color-accent);
}
}

.lang__txt{
    display: block;
    padding: 5px 6px;
    border-radius: 8px;
}

.hero-content__text{
    font-size: 3.8rem;
    line-height: 1,16;
    color: white;
    text-align: center;
}

.hero-content__wraper{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 138px;

    
}



