.services{
    background-image: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    margin-bottom: 40px;
    padding-top: 80px;
}

.advantages{
    display: grid;
    grid-template-columns: 1fr 1fr;
padding-bottom: 80px;
@include media-phone{
    display: block;
    }
}

.advantages__list-item{
    @include text-head;
    color: var(--color-grey-text);
    text-align: right;
    @include media-phone{
        text-align: left;
    }
}

.advantages__list-item:nth-child(1){
    @include media-phone{
        color: var(--color-accent);
        text-transform: uppercase;
        @include text-caption;
    }
}

.advantages__list-item:nth-child(2){
    @include media-phone{
        display: none;
    }
}

.advantages__list-item:nth-child(3){
    @include media-phone{
        display: none;
    }
}

.advantages__list-item:nth-child(4){
    @include media-phone{
        display: none;
    }
}

.advantages__title{
@include text-title;
color: white;
@include media-phone{
   font-size: 2.2rem;
   line-height: 1.18;
}
}

.advantages__text{
font-size: 2.1rem;
line-height: 1.43;
color: white;
}

.advantages__list-link{
border-right: solid; 
padding-right: 40px;
@include media-phone{
border-right:unset; 
    }
 }

.advantages__list-link:hover border-right{
background-color: var(--color-accent);
}


.advantages__list-link:hover{
    color: var(--color-accent);
}

.advantages__list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 40px;
}

.section-title{
    font-size: 1.4rem;
    line-height: 1.14;
    text-transform: lowercase;
}

.advantages__content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}


.services-title{
    margin-bottom: 68px;
    @include media-phone{
        @include text-title;
        margin-bottom: 20px;
    }
}

.services__image-and-heading{
    @include media-phone{
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

.services__cards-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding-bottom: 100px;
    @include media-phone{
    grid-template-columns: repeat(1, 1fr);
    }
}
.services__cards-image{
    padding-bottom: 20px;
    @include media-phone{
        width: 40px
    }
   }

.services__cards-title{
    @include text-subheader;
    color: var(--color-regular-active);
    padding-bottom: 15px;
    @include media-phone{
        @include text-extra-small-accent;
    }
}

.services__cards-content{
    @include text-small;
    color: white;
    @include media-phone{
        @include text-extra-small;
    }
}

.services__title{
    color: white;
}
   
