$color-hero: white;
$color-bold: #B3B3BA;
$color-subtitle: #24A3FF; 
$color-title: #F0145A;
$color-main:#686887;

@mixin font-hero-cards {
  font-size: 1.8rem;
  line-height: 26/18;
  color: $color-hero;
}

@mixin font-hero-cards-titles {
  font-size: 2.4rem;
  line-height: 29/24;
  color: $color-subtitle;
}

@mixin accent-titles {
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 49/42;
  color: $color-title;
}


@import "reset.scss";
@import "general.scss";
@import "hero.scss";
